@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #010a1b98;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #455674;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #56617c;
}
