@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable highlight color on tap */
html {
  -webkit-tap-highlight-color: transparent;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 7px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #010a1b98;
  border-radius: 5px;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #455674;
  border-radius: 5px;
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #56617c;
}
