@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable highlight color on tap */
html {
  -webkit-tap-highlight-color: transparent;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 7px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #010a1b98;
  border-radius: 5px;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #455674;
  border-radius: 5px;
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #56617c;
}

@keyframes note-view {
  from {
    opacity: 0.5;
    transform: translateY(10px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes overlay-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes overlay-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes content-show {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes content-hide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

@keyframes menu-show {
  from {
    opacity: 0;
    transform: translateY(-5px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes menu-hide {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(-5px) scale(0.9);
  }
}
